<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head> 
    <title>Contact Page</title>
</head>
<body>
    <div id="content" class="p-4">
        <h1>welcome to CONTACT</h1>
        <h2>naya CONTACT page hai bhaiya or chal bhi rha hai dhaka dhakkkk !!!  </h2>
        <h1>Gaad faad diye bhaiya jiii.............. pura chal rha hai dhaka dhakk </h1>
    </div>

    <script>
        console.log("script of about page");
    </script>
</body>
</html>
