<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Contact Manager</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Home Page.</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, accusantium quasi velit voluptates eum beatae iusto nam porro tempore! Animi repudiandae tempora autem</p>
        <p>Copyright @amritraj 2024</p>
    </div>
</body>
</html>