<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head> 
    <title>Home page</title>
</head>
<body>
    <div id="content" class="p-4">
        <h1>Welcome to HOME PAGE......!!</h1>
        <h2>naya home page hai bhaiya or chal bhi rha hai dhaka dhakkkk !!!  </h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita ratione in velit, enim architecto cupiditate? Fugiat nobis neque harum 
            burem laudsem daal diye hai eskkii maa kii
        </p>
    </div>



    <script>
        console.log("script of about page");
    </script>
</body>
</html>

